* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body {
    font-family: 'Roboto';
    font-size:12px;
    background-color: #EBEBEB;
}

header {
    background-color: #EAC926;
}

.header-principal {
    justify-content: space-between;
    align-items: center;
    margin:5px;
}

.logoForm {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width:100%
}

.logo {
    width:50%;
}

.form {
    display:flex;
    width: 50%;
    height:100%;
    margin: 0px 5px;
    align-items:center;   
}

input {
    background-color:#ebebeb;
    padding:10px;
    border-radius: 5px;
    width:100%;
    border:none;
}
.submit i{
    background-color:#ebebeb;
    padding:2px;
    
}

.submit {
    margin:-20px;
}

a{
    list-style-type:none;
    text-decoration: none;
    color:black;
}

.primera-barra {
    display:none;
}

.segunda-barra {
    display:none;
}


.burger-menu i {
    color:#FFF;
    border-radius:5px;
    background-color:#1259c3;
    margin:5px 170px;
    padding:5px;
    width:20px;
    text-align: center;
}

.burger-menu {
    text-align: center;  
}

.banner img {
    width:100%;
}

main {
    width:90%;
    text-align:center;
    margin:auto;
    background-color: #EBEBEB;
}

form {
padding:15px;
margin:auto;
background-color: #666;
color:#ebebeb;
width:50%;
border-radius: 10px;
}

form label {   
padding:3px;
text-align: left;
margin-top: 10px;
}

form input {
    border-radius: 10px;
    margin-bottom: 3px;
}

.foto {
    margin-top: 10px;
}

.comprarVender {
display:flex;
align-items:center;
justify-content: center;
margin:auto; 
}

.comprador {
    margin:10px 0px 10px 50px;
}

.vendedor {
    margin:10px 50px 10px 0px;
}


form input {
    margin:3px;
    padding:7px;
}

.botones {
    width:100%;
}

.enviar,
.borrar {
    background-color: #1259c3;
    color:#EBEBEB;
    border-radius: 10px;
    border:none;
    padding:7px;
    width:40%;
}

h2 {
    font-size:24px;
}

.compras h3 {
    display:flex;
    justify-content:center;
}


.imagen-producto img{
    width:100%;
}

.producto {
    margin:5px 10px 5px 10px;
}

.articulo {
border: solid 1px #ebebeb;
text-align:left;
background-color: #fafafa;
position:relative;
}

.articulo i {
display: block;
color:#39b54a;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

.precio-descuento {
margin:15px;
}


.precio {
    font-size: 18px;
    width:30%;
}

.descuento {
    font-size: 16px;
    color:#39b54a;
    width:70%;
}

.descripcion {
    font-size: 16px;
    margin:15px;
    display:none;
    color:#666;
}

.precio-descuento {
    display:flex;
}

footer {
    text-align:center;
    color:#666;
    margin-top: 10px;
}

footer p{
    margin: 10px;
}

footer i {
    color: #1259c3;
    text-align: center;
    font-size:2em;
    margin-bottom:10px;
}

.copyright {
    text-align: left;
    margin-bottom:2px;
}

@media (min-width:361px){
  
      .imagen-producto,
       .articulo {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
       }

       .header-principal {
        display:flex;
        align-items:center;
        justify-content:space-between;
      }

.form {
    width:40%;
    margin-left: 3%;
}

input {
    background-color:#ebebeb;
    padding:10px;
    border:solid 1px #666;
    border-radius: 5px;
    border:none;
}

.compras h3{
    text-align: right;
    width:100%;
}

.barra-navegacion {
    display:flex;
    width:100%;
}

.primera-barra {
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
}

ul li{
padding: 5px;
text-decoration: none;
list-style: none;
}

.segunda-barra {
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
}

nav {
    display:grid;
    grid-template-columns: 50% 50%;
    width:100%;
}

      .segunda-barra ul li {
        display:block;
      }

      .burger-menu {
        display:none;
      }

      .box-productos {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items:flex-start;
      }

      .producto {
        width:42%;
}

.precio {
    width:75%;
}

.descuento {
    width:20%;
}

}

@media (min-width:769px) {

.form {
    width:40vw;
}

     .producto {
        width:22%;
     }

     .precio {
        width:70%;
     }

     .descuento {
        width: 30%;
     }
     .producto:hover .imagen-producto {
        box-shadow: 0px 0px 30px rgb(100 100 100);
        transition:all 750ms;
         }
    
    .producto:hover .articulo{
            box-shadow: 0px 0px 30px rgb(100 100 100);
            transition:all 750ms;
    
    }

.producto:hover .descripcion{
    display:block;
    transition:all 1s;
}

.articulo i:hover {
    transform: rotate(-90deg);
    transition:0.75s;
}

.enviar:hover {
    background-color: #0022AA;
    transition:0.75s;
}

.del-footer {
    display:flex;
}

footer i:hover {
    color:#0022AA;
}

footer {
    margin-top:30px;
}

    }
       


